*{
    box-sizing: border-box;
    }
}
body{
    font-family: "Azeret Mono";
}

/* banners */

.banner{
    max-width: 1440px;
    height: 652px;
    margin-top: 20px;
    background-image: url("assets/Hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* banner-content */

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    height: 652px;
    text-align: center;
}

.banner-content h1{
    width: 998px;
    height: 136px;
}

.banner-content p{
    width: 852px;
    height: 52px;
}

.banner-content button{
    width: 208px;
    height: 66px;
    color: white;
    background-color: rgb(22, 22, 22);
}

/* section-content */

.section-content{
    width: 1140px;
    height: 1390px;
    margin: 0 auto;
    margin: 80px 97px;
    
}
.section-content h1{
    text-align: center;
    width: 852px;
    height: 39px
}
.section-content p{
    width: 852px;
    height: 52px;
    text-align: center;
}

.image-content{
    width: 274px;
    height: 240px;
    float: right;

}

.section-1-content p{
    text-align: start;
}
.section-2-content h1{
    text-align: end;
}


.group-3-content{
    width: 240px;
    height: 240px;
    float: left;

}

.group-4{
    width: 240px;
    height: 240px;
    float: left;
}

/* video content */

.video-content{
    width: 1140px;
    height: 777px;
    
    margin: 0 auto;
}
.video-content h1{
    text-align: center;
}

.video-content p{
    text-align: center;
}

.iframe-video{
    width: 600px;
    margin:0 auto;
}
/* current target */
.target{
    width: 1140px;
    height: 463px;
    
    margin: 0 auto;
    text-align: center;
    
}

.target-p{
    padding-bottom: 48px;
}

.card-content{
    display: flex;
    justify-content: center;
    align-items: end;

}
.html-card{
    width: 364px;
    height: 300px;
    padding: 40px;
    background-color: rgb(255, 225, 230);
    text-align: left;
}
.css-card{
    width: 364px;
    height: 300px;
    padding: 40px;
    background-color: rgb(116, 116, 248);
    text-align: left;

}

.js-card{
    width: 364px;
    height: 300px;
    padding: 40px;
    text-align: left;
    background-color: rgb(255, 225, 230);

}

.learn{
    text-decoration: underline;
}
/* support */
.support{
    width: 1140px;
    height: 250px;
    margin: 0 auto;
    background-image: url(assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 50px;
    
}.support-text{
    text-align: center;
    color: white;
}

.input-text{
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
